body {
  @apply min-h-screen w-screen;
  color: #d1d5db;
}

.js-focus-visible :focus:not([data-focus-visible-added]) {
  @apply outline-none;
}

.js-focus-visible [data-focus-visible-added] {
  @apply outline-none ring-2;
  --tw-ring-color: var(--kd-color-focus);
}

* {
  -webkit-tap-highlight-color: transparent;
}

.no-scrollbar {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.svg-responsive>svg {
  width: 100%;
  height: 100%;
}

.kit-docs pre {
  tab-size: 2;
  -o-tab-size: 2;
  -moz-tab-size: 2;
}

.kit-docs p+.admonition,
.kit-docs p+.steps {
  margin-top: 2.5rem;
}

.kit-docs .steps+p {
  margin-top: 4rem;
}

.kit-docs .admonition+.steps {
  margin-top: 3.5rem;
}

.kit-docs .admonition+table {
  margin-top: 4rem;
}

.kit-docs .code-fence .code pre {
  margin: 0;
}

.kit-docs .code-fence.lang-bash pre span {
  color: #fafafa !important;
}

.kit-docs .code-fence.lang-bash pre .line:not(:empty)::before {
  content: '> ';
  font-weight: bold;
  color: var(--kd-terminal-line-pointer);
}

.kit-docs .step .description>code {
  color: var(--kd-color-gray-inverse);
}

.kit-docs .step .code-fence {
  margin: 0;
  padding: 0;
}

.kit-docs .code-fence+.code-fence {
  margin-top: 0.5rem;
}

.kit-docs h1+.steps,
.kit-docs h2+.steps,
.kit-docs h3+.steps {
  margin-top: 2.5rem;
}

.kit-docs .header-anchor {
  margin-left: -1.25em;
  padding: 0 0.23em;
  font-size: 0.9em;
  opacity: 0;
  border: 0;
  background-color: transparent;
}

.kit-docs h1:focus,
.kit-docs h2:focus,
.kit-docs h3:focus,
.kit-docs h4:focus,
.kit-docs h5:focus,
.kit-docs h6:focus {
  outline: none;
}

@media (hover: hover) and (pointer: fine) {

  .kit-docs h1:hover .header-anchor,
  .kit-docs h2:hover .header-anchor,
  .kit-docs h3:hover .header-anchor,
  .kit-docs h4:hover .header-anchor,
  .kit-docs h5:hover .header-anchor,
  .kit-docs h6:hover .header-anchor {
    opacity: 1;
  }
}

@media (pointer: coarse) {

  .kit-docs h1:focus .header-anchor,
  .kit-docs h2:focus .header-anchor,
  .kit-docs h3:focus .header-anchor,
  .kit-docs h4:focus .header-anchor,
  .kit-docs h5:focus .header-anchor,
  .kit-docs h6:focus .header-anchor {
    opacity: 1;
  }
}

.kit-docs .header-anchor:focus {
  opacity: 1;
}

/* code samples */
code {
  line-height: 1.2 !important;
}

code .sticky {
  background-color: white !important;
  opacity: 100 !important;
}

pre code .line {
  font-size: 0.875rem;
}

.kd-fence-bg {
  background-color: #17171e !important;
}

/* on this page */
.on-this-page {
  font-size: 0.85rem;
}

.on-this-page li {
  line-height: 1.5 !important;
}

/* scrollbars */
::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
}

::-webkit-scrollbar-track {
  background: #3f3f3f !important;
}

::-webkit-scrollbar-thumb {
  background: rgb(37, 37, 37) !important;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(211, 211, 211) !important;
}

/* nav */
nav ul li a {
  font-weight: normal !important;
  font-size: 1rem !important;
  padding-bottom: 8px !important;
}

/* main sidebar */
#main-sidebar {
  overflow-y: auto;
  line-height: 0.8rem;
}

#main-sidebar nav {
  padding-left: 0;
  padding-right: 0;
}

#main-sidebar nav ul li {
  line-height: 0.75;
}

#main-sidebar>nav>ul>li>div,
#main-sidebar>nav>div>div.h-8.bg-gradient-to-b.from-white.dark\:from-gray-800 {
  display: none;
}

#main-sidebar>nav>div {
  min-height: unset;
}

#main-sidebar nav .h-6.bg-white {
  background: transparent !important;
}

/* main section */
main {
  padding: 2rem !important;
}

/* article */
article {
  font-weight: 350;
}

article ul {
  padding-left: 2rem !important;
}

article ul li {
  line-height: 1.5 !important;
}

article ol {
  padding-left: 2rem !important;
}

article.prose {
  line-height: 1.5 !important;
}

/* prose */
.prose a {
  color: #d5d5d5 !important;
  border-bottom: 1px solid rgb(50 50 50) !important;
}

.prose a:hover {
  color: white !important;
  border-bottom: 1px solid white !important;
}

/* heading top margin */
h2,
h3 {
  margin-top: 0 !important;
}

/* heading color */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d5d5d5 !important;
  font-weight: 350 !important;
  letter-spacing: normal !important;
}

strong {
  color: #d5d5d5 !important;
}

#nprogress .bar {
  background: rgba(0, 223, 255, 1) !important;
}

/* admonition */
.admonition {
  margin-top: 0 !important;
  margin-bottom: 1rem !important;
}

.admonition p {
  margin: 0;
  color: #dbdbdb;
  font-size: 1rem;
}

div.admonition :nth-child(1) {
  background-color: unset !important;
}

/* Header */
body {
  background: rgba(9, 14, 24, 1) !important;
}

.fixed.top-0.z-30.w-full.flex-none {
  background: rgba(9, 14, 24, 0.5) !important;
}

/* Lists */
ul li {
  line-height: 1.75;
}

/* Search */
.h-8.bg-gradient-to-b {
  --tw-gradient-from: #0a0e18 !important;
}

/* algolia */
#main-sidebar .DocSearch-Button {
  background-color: hsla(220, 45%, 12%, 1) !important;
}

#main-sidebar .DocSearch-Button:hover {
  background-color: hsla(220, 45%, 15%, 1) !important;
}

#main-sidebar .dark .DocSearch-Container {
  background: rgba(9, 14, 24, 0.75) !important;
}

.DocSearch-Footer {
  background: rgba(9, 14, 24, 1) !important;
}

.DocSearch-Hits li a {
  background: #04060a !important;
}

pre code {
  font-size: 13px;
  border-radius: 6px;
  background: #141A24 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;